<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
  </head>
  <body style="margin:15px">
    <table
      cellspacing="0"
      cellpadding="0"
      width="700"
      align="center"
      bgcolor="#fff"
      border="0"
    >
      <tr>
        <td
          bgcolor="#2b2b2b"
          align="center"
          style="padding: 10px 30px; border-radius:15px"
        >
          <h1
            style="font-family: Verdana, Geneva, sans-serif;color:#fff;font-weight:normal; font-size:30px;margin-top:10px;margin-bottom:10px"
          >
            <img
              height="250px"
              width="250px"
              src="https://www.rulianaediogo.com.br/assets/images/red-logo-email.png"
            />
          </h1>
        </td>
      </tr>
      <tr>
        <td align="center" style="padding: 10px 30px">
          <h3
            style="margin-top:40px;font-size:16px;font-family: Verdana, Geneva, sans-serif;color:#374f54;font-weight:normal;"
          >
            Olá, este é um e-mail automático do website
            <strong>Ruliana e Diogo</strong>
          </h3>
          <h3
            style="margin-top:20px;font-size:16px;font-family: Verdana, Geneva, sans-serif;color:#374f54;font-weight:normal;"
          >
            Você está o recebendo pois houve um novo
            <strong>presente</strong> pelo website.
          </h3>
        </td>
      </tr>
      <tr>
        <td align="center">
          <table
            width="100%"
            style="padding: 10px 30px; margin-bottom: 40px"
            cellspacing="0"
            cellpadding="0"
          >
            <tr>
              <td colspan="2" align="center">
                <h2
                  style="font-family: Verdana, Geneva, sans-serif;color:#244e53;font-weight:normal;
						font-size:18px;margin-top:20px;margin-bottom:20px; text-transform: uppercase"
                >
                  Informações do Pagador
                </h2>
              </td>
            </tr>
            <tr>
              <td
                style="padding: 10px; border-top:1px solid #e6e9ea; border-right:1px solid #e6e9ea; border-bottom:1px solid #e6e9ea; text-align: center; font-size:12px;font-family: Verdana, Geneva, sans-serif;color:#244e53;font-weight:normal; text-transform: uppercase;"
              >
                Nome
              </td>
              <td
                style="padding: 10px; border-top:1px solid #e6e9ea; border-bottom:1px solid #e6e9ea; text-align: center; font-size:12px;font-family: Verdana, Geneva, sans-serif;color:#244e53;font-weight:normal;"
              >
                ${sender.name}
              </td>
            </tr>
            <tr>
              <td
                style="padding: 10px; border-right:1px solid #e6e9ea; border-bottom:1px solid #e6e9ea; text-align: center; font-size:12px;font-family: Verdana, Geneva, sans-serif;color:#244e53;font-weight:normal; text-transform: uppercase;"
              >
                Email
              </td>
              <td
                style="padding: 10px; border-bottom:1px solid #e6e9ea; text-align: center; font-size:12px;font-family: Verdana, Geneva, sans-serif;color:#244e53;font-weight:normal;"
              >
                ${sender.email}
              </td>
            </tr>
            <tr>
              <td
                style="padding: 10px; border-right:1px solid #e6e9ea; border-bottom:1px solid #e6e9ea; text-align: center; font-size:12px;font-family: Verdana, Geneva, sans-serif;color:#244e53;font-weight:normal; text-transform: uppercase;"
              >
                CPF
              </td>
              <td
                style="padding: 10px; border-bottom:1px solid #e6e9ea; text-align: center; font-size:12px;font-family: Verdana, Geneva, sans-serif;color:#244e53;font-weight:normal;"
              >
                ${sender.cpf_cnpj}
              </td>
            </tr>
            <tr>
              <td
                style="padding: 10px; border-right:1px solid #e6e9ea; border-bottom:1px solid #e6e9ea; text-align: center; font-size:12px;font-family: Verdana, Geneva, sans-serif;color:#244e53;font-weight:normal; text-transform: uppercase;"
              >
                Telefone
              </td>
              <td
                style="padding: 10px; border-bottom:1px solid #e6e9ea; text-align: center; font-size:12px;font-family: Verdana, Geneva, sans-serif;color:#244e53;font-weight:normal;"
              >
                (${sender.area_code}) ${sender.phone}
              </td>
            </tr>
            <tr>
              <td
                style="padding: 10px; border-right:1px solid #e6e9ea; border-bottom:1px solid #e6e9ea; text-align: center; font-size:12px;font-family: Verdana, Geneva, sans-serif;color:#244e53;font-weight:normal; text-transform: uppercase;"
              >
                Data de Nascimento
              </td>
              <td
                style="padding: 10px; border-bottom:1px solid #e6e9ea; text-align: center; font-size:12px;font-family: Verdana, Geneva, sans-serif;color:#244e53;font-weight:normal;"
              >
                ${sender.birth_date}
              </td>
            </tr>
            <tr>
              <td colspan="2" align="center">
                <h2
                  style="font-family: Verdana, Geneva, sans-serif;color:#244e53;font-weight:normal;
						font-size:18px;margin-top:20px;margin-bottom:20px; text-transform: uppercase"
                >
                  Mensagem ao Casal
                </h2>
              </td>
            </tr>
            <tr>
              <td
                style="padding: 10px; border-top:1px solid #e6e9ea; border-right:1px solid #e6e9ea; border-bottom:1px solid #e6e9ea; text-align: center; font-size:12px;font-family: Verdana, Geneva, sans-serif;color:#244e53;font-weight:normal; text-transform: uppercase;"
              >
                Mensagem
              </td>
              <td
                style="padding: 10px; border-top:1px solid #e6e9ea; border-bottom:1px solid #e6e9ea; text-align: center; font-size:12px;font-family: Verdana, Geneva, sans-serif;color:#244e53;font-weight:normal;"
              >
                ${message}
              </td>
            </tr>
            <tr>
              <td colspan="2" align="center">
                <h2
                  style="font-family: Verdana, Geneva, sans-serif;color:#244e53;font-weight:normal;
						font-size:18px;margin-top:20px;margin-bottom:20px; text-transform: uppercase"
                >
                  Informações Adicionais
                </h2>
              </td>
            </tr>
            <tr>
              <td
                style="padding: 10px; border-top:1px solid #e6e9ea; border-right:1px solid #e6e9ea; border-bottom:1px solid #e6e9ea; text-align: center; font-size:12px;font-family: Verdana, Geneva, sans-serif;color:#244e53;font-weight:normal; text-transform: uppercase;"
              >
                COD
              </td>
              <td
                style="padding: 10px; border-top:1px solid #e6e9ea; border-bottom:1px solid #e6e9ea; text-align: center; font-size:12px;font-family: Verdana, Geneva, sans-serif;color:#244e53;font-weight:normal;"
              >
                ${infos.code}
              </td>
            </tr>
            <tr>
              <td
                style="padding: 10px; border-right:1px solid #e6e9ea; border-bottom:1px solid #e6e9ea; text-align: center; font-size:12px;font-family: Verdana, Geneva, sans-serif;color:#244e53;font-weight:normal; text-transform: uppercase;"
              >
                Taxa
              </td>
              <td
                style="padding: 10px; border-bottom:1px solid #e6e9ea; text-align: center; font-size:12px;font-family: Verdana, Geneva, sans-serif;color:#244e53;font-weight:normal;"
              >
                R$ ${infos.feeAmount}
              </td>
            </tr>
            <tr>
              <td
                style="padding: 10px; border-right:1px solid #e6e9ea; border-bottom:1px solid #e6e9ea; text-align: center; font-size:12px;font-family: Verdana, Geneva, sans-serif;color:#244e53;font-weight:normal; text-transform: uppercase;"
              >
                Valor Pago
              </td>
              <td
                style="padding: 10px; border-bottom:1px solid #e6e9ea; text-align: center; font-size:12px;font-family: Verdana, Geneva, sans-serif;color:#244e53;font-weight:normal;"
              >
                R$ ${infos.grossAmount}
              </td>
            </tr>
            <tr>
              <td
                style="padding: 10px; border-right:1px solid #e6e9ea; border-bottom:1px solid #e6e9ea; text-align: center; font-size:12px;font-family: Verdana, Geneva, sans-serif;color:#244e53;font-weight:normal; text-transform: uppercase;"
              >
                Valor Líquido
              </td>
              <td
                style="padding: 10px; border-bottom:1px solid #e6e9ea; text-align: center; font-size:12px;font-family: Verdana, Geneva, sans-serif;color:#244e53;font-weight:normal;"
              >
                R$ ${infos.netAmount}
              </td>
            </tr>
            <tr>
              <td
                style="padding: 10px; border-right:1px solid #e6e9ea; border-bottom:1px solid #e6e9ea; text-align: center; font-size:12px;font-family: Verdana, Geneva, sans-serif;color:#244e53;font-weight:normal; text-transform: uppercase;"
              >
                Link para o Boleto
              </td>
              <td
                style="padding: 10px; border-bottom:1px solid #e6e9ea; text-align: center; font-size:12px;font-family: Verdana, Geneva, sans-serif;color:#244e53;font-weight:normal;"
              >
                <a href="${infos.paymentLink}">Abrir o Boleto</a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td align="center" bgcolor="#2b2b2b" style="border-radius: 10px">
          <h3
            style="font-family: Verdana, Geneva, sans-serif;color:#fff;font-weight:normal; font-size:12px;margin-top:10px;margin-bottom:10px"
          >
            Esta é uma mensagem automática, por favor não responda.
          </h3>
        </td>
      </tr>
    </table>
  </body>
</html>
